doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source Serif Pro')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source Sans Pro')
    link(rel='stylesheet', href='/stylesheets/lab.css')

  body
    header 
      div.center
        h1 CIT 215 - JavaScript
        h2 Module 14 Lab
    main
    block content
