extends layout

block content
  article 
    h2 About This Assignment 
    p. 
      The purpose of this assignment is to use the Express PUG Templates 
      to build a functioning web app for a car owners database.

  article 
    h2 About Express 
    p. 
      Express is a collection of tools for developing HTTP servers.
      You can use express for  single page applications, websites, or 
      HTTP APIs without using any single template package.

  article 
    h2 About Routes 
    p. 
      The Routes library allows you to direct users to particular resources 
      based on url strings.  Routs can be strings or regular expressions,
      match on URL paths, and call a particular function  when the URL matches.
  
  article
    h2 About Middleware 
    p. 
      Middleware is a type of request handler that allows the web page 
      to manipulate requests and responses before they reach the route handler.
      Middleware provides functions such as loggin, authentication, and 
      error handling.

