extends layout

block content
  ul 
    li 
      a(href="/about") About
    li
      a(href="/owners") Display a List of Owners
    li 
      a(href="/owners/new") Add a New Owner
    li 
      a(href="/cars") Display a Graph of Cars and Owners