doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      img(src="logo.png", alt="Show this if the image doesn't exist.")
      h1 

    block content

    footer 
      address
